<ul>
  <% @artists.each do |artist| %>
  <li> <%= artist.name %></li>
  <li><%= artist.song_count %> song</li>
  <ul>
  <% artist.songs.each do |song| %>
  <li> <%= link_to song.title, song_path(song) %></li>
    <% end %>
  </ul>
  <% end %>
</ul>
